/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: footer;
    margin-top: 10px;
    background: #087dc2;
    padding: 20px 0;
}

/* FOOTER-TOP - CORREGIDO */
.footer-top {
    width: 100%;
    display: none; /* Cambiado a flex-start */
    align-items: center;
    justify-content: space-around; 
    gap: 40px;
    padding: 0 20px;
}
.services{
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.enlaces{
    /* width: 150px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__title {
    text-align: center;
    font-family: "Inter";
    font-size: 1rem;
    color: white;
    font-weight: normal;
    margin-bottom: 15px;
    width: 100%;
}

.footer__list {
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__item {
    padding: 5px 0;
    margin: 0;
}

.footer__link {
    text-decoration: none;
    font-size: 0.8rem;
    color: white;
    font-family: "Inter";
    gap: 8px;
    transition: opacity 0.3s;
    text-align: center;
}

.footer__link:hover {
    opacity: 0.8;
}

.footer__icon {
    font-size: 1rem;
}

/* FOOTER-BOTTOM */
.footer-bottom {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter";
    color: white;
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
}
