/**** TOP-BAR ****/
.top-bar{
    background: #087dc2;
    padding: 5px 0;
    display: none;
}

.top-bar__content{
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
}
.top-bar__questions{
    display: flex;
    align-items: center;
    color: white;
}
.top-bar__text{
    font-family: "Inter";
    font-size: 0.7rem;
    text-align: justify;
}
.top-bar__register{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.login{
    display:flex;
    align-items: center;
    border-right:1px solid #3ba1dd ;
    padding-right: 15px;
}
.register{
    display: flex;
    align-items: center;
}
.top-bar__icon{
    font-weight: normal;
    font-family: "Inter";
    font-size: 0.7rem;
    margin: 0 5px;
}
.top-bar__link{
    color: white;
    font-family: "Inter";
    font-size: 0.875rem;
    text-decoration: none;
}
.top-bar__link:hover{
    color: #b1c0c9;
}

/**** HEADER ****/
 .header {
    grid-area: header;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    width: 100%;
    background: #ffffff;
}

.header__logo {
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* HEADER-TITLE */
.header__title {
    font-size: 1.2rem;
    font-family: "Inter";
}
/* LOGO */
.header__img{
    display: none;
    width: 150px;
    margin: 10px 0;
}
/* HAMBURGUESA */
.hamburger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    z-index: 1;
}

.hamburger span {
    width: 20px;
    height: 3px;
    background-color: black;
    transition: all 0.3s ease;
}

