/* PUNTOS DE RUPTURA  DE 480 A 1200*/
/* 480px,
800px,
1024px,
1200px
. */
::-webkit-scrollbar {
    width: 1rem;
    
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background: #7cb342; 
    border-radius: 8px;
    border: 3px solid #f5f5f5;
}
*{
    box-sizing: border-box;  
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}